[Desktop Entry]
Version=1.0
Type=Application
Name=sam
Comment=Plan 9 Editor
Exec=/usr/local/plan9/app/unix/bin/sam
Icon=/usr/local/plan9/app/unix/icon/spaceglenda.png
Terminal=false
Categories=Development;TextEditor;
